{% extends "../wrapper.html" %}

{% block content %}
<h2 align='center'>Выбор Кандидатов</h2>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

    {% csrf_token %}
    <div class="form-group">
      <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Планета</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in candidates %}
                  <tr>
                    <th scope="row" name="id" id="{{i.id}}">{{i.id}}</th>
                    <td><a href="{% url 'detail' pk i.id %}">{{i.name}}</a></td>
                    <td> {{i.planet}} </td>
                    <td> {{i.email}}  </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
{% endblock %}
